[defaults]
inventory = inventory/hosts.yaml
host_key_checking = False
retry_files_enabled = False
collections_path = ./.collections
interpreter_python = auto_silent

[persistent_connection]
command_timeout = 60
connect_timeout = 60
